%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
    :css
      @media only screen and (max-width:480px){body,table,td,p,a,li,blockquote{-webkit-text-size-adjust:none !important}body{width:100% !important;min-width:100% !important}td[id=bodyCell]{padding:10px !important}table.kmMobileHide{display:none !important}table[class=kmTextContentContainer]{width:100% !important}table[class=kmBoxedTextContentContainer]{width:100% !important}td[class=kmImageContent]{padding-left:0 !important;padding-right:0 !important}img[class=kmImage]{width:100% !important}table[class=kmSplitContentLeftContentContainer],table[class=kmSplitContentRightContentContainer],table[class=kmColumnContainer],td[class=kmVerticalButtonBarContentOuter] table[class=kmButtonBarContent],td[class=kmVerticalButtonCollectionContentOuter] table[class=kmButtonCollectionContent],table[class=kmVerticalButton],table[class=kmVerticalButtonContent]{width:100% !important}td[class=kmButtonCollectionInner]{padding-left:9px !important;padding-right:9px !important;padding-top:9px !important;padding-bottom:0 !important;background-color:transparent !important}td[class=kmVerticalButtonIconContent],td[class=kmVerticalButtonTextContent],td[class=kmVerticalButtonContentOuter]{padding-left:0 !important;padding-right:0 !important;padding-bottom:9px !important}table[class=kmSplitContentLeftContentContainer] td[class=kmTextContent],table[class=kmSplitContentRightContentContainer] td[class=kmTextContent],table[class=kmColumnContainer] td[class=kmTextContent],table[class=kmSplitContentLeftContentContainer] td[class=kmImageContent],table[class=kmSplitContentRightContentContainer] td[class=kmImageContent]{padding-top:9px !important}td[class="rowContainer kmFloatLeft"],td[class="rowContainer kmFloatLeft firstColumn"],td[class="rowContainer kmFloatLeft lastColumn"]{float:left;clear:both;width:100% !important}table[id=templateContainer],table[class=templateRow]{max-width:600px !important;width:100% !important}h1{font-size:24px !important;line-height:130% !important}h2{font-size:20px !important;line-height:130% !important}h3{font-size:18px !important;line-height:130% !important}h4{font-size:16px !important;line-height:130% !important}td[class=kmTextContent]{font-size:14px !important;line-height:130% !important}td[class=kmTextBlockInner] td[class=kmTextContent]{padding-right:18px !important;padding-left:18px !important}table[class="kmTableBlock kmTableMobile"] td[class=kmTableBlockInner]{padding-left:9px !important;padding-right:9px !important}table[class="kmTableBlock kmTableMobile"] td[class=kmTableBlockInner] [class=kmTextContent]{font-size:14px !important;line-height:130% !important;padding-left:4px !important;padding-right:4px !important}}
  %body{:style => "margin:0;padding:0;background-color:#C7C7C7;background-image:url(https://klaviyo.s3.amazonaws.com/company%2FeVAXg2%2Fimages%2Ffooter_lodyas.png);background-repeat:repeat;background-position:left top"}
    %center
      %table#bodyTable{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;padding:0;background-image:url(https://klaviyo.s3.amazonaws.com/company%2FeVAXg2%2Fimages%2Ffooter_lodyas.png);background-repeat:repeat;background-position:left top;height:100%;margin:0;width:100%", :width => "100%"}
        %tbody
          %tr
            %td#bodyCell{:align => "center", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;padding-top:50px;padding-left:20px;padding-bottom:20px;padding-right:20px;border-top:0;height:100%;margin:0;width:100%", :valign => "top"}
              %table#templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;border:0 solid #AAA;background-color:#F4F4F4;border-radius:0", :width => "600"}
                %tbody
                  %tr
                    %td#templateContainerInner{:style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;padding:0"}
                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :width => "100%"}
                        %tr
                          %td{:align => "center", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :valign => "top"}
                            %table.templateRow{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :width => "100%"}
                              %tbody
                                %tr
                                  %td.rowContainer.kmFloatLeft.firstColumn{:style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :valign => "top", :width => "25%"}
                                    %table.kmImageBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :width => "100%"}
                                      %tbody.kmImageBlockOuter
                                        %tr
                                          %td.kmImageBlockInner{:style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;padding:9px;background-color:#1A1515;", :valign => "top"}
                                            %table.kmImageContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :width => "100%"}
                                              %tbody
                                                %tr
                                                  %td.kmImageContent{:style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;padding:0;padding-top:0px;padding-bottom:0;padding-left:9px;padding-right:9px;", :valign => "top"}
                                                    %img.kmImage{:align => "left", :alt => "", :src => "https://klaviyo.s3.amazonaws.com/company%2FeVAXg2%2Fimages%2Fjoshwhite_b7158f.png", :style => "border:0;height:auto;line-height:100%;outline:none;text-decoration:none;padding-bottom:0;display:inline;vertical-align:bottom;margin-right:0;max-width:300px;padding:6px;", :width => "114"}/
                                  %td.rowContainer.kmFloatLeft.lastColumn{:style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :valign => "top", :width => "75%"}
                                    %table.kmTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :width => "100%"}
                                      %tbody.kmTextBlockOuter
                                        %tr
                                          %td.kmTextBlockInner{:style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;background-color:#1A1515;", :valign => "top"}
                                            %table.kmTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :width => "100%"}
                                              %tbody
                                                %tr
                                                  %td.kmTextContent{:style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;color:#505050;font-family:Helvetica, Arial;font-size:14px;line-height:150%;text-align:left;color:#FFFFFF;padding-bottom:9px;text-align:left;padding-right:18px;padding-left:18px;padding-top:20px;background-color:#1A1515;", :valign => "top"}
                                                    %p{:style => "margin:0;padding-bottom:2px;text-align: right;"}
                                                      %span{:style => "font-size:24px;"}
                                                        %span{:style => "color: rgb(255, 240, 245);"} Leave Request
                        %tr
                          %td{:align => "center", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :valign => "top"}
                            %table.templateRow{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :width => "100%"}
                              %tbody
                                %tr
                                  %td.rowContainer.kmFloatLeft{:style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :valign => "top"}
                        %tr
                          %td{:align => "center", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :valign => "top"}
                            %table.templateRow{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :width => "100%"}
                              %tbody
                                %tr
                                  %td.rowContainer.kmFloatLeft{:style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :valign => "top"}
                        %tr
                          %td{:align => "center", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :valign => "top"}
                            %table.templateRow{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :width => "100%"}
                              %tbody
                                %tr
                                  %td.rowContainer.kmFloatLeft{:style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :valign => "top"}
                                    %table.kmTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :width => "100%"}
                                      %tbody.kmTextBlockOuter
                                        %tr
                                          %td.kmTextBlockInner{:style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;", :valign => "top"}
                                            %table.kmTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :width => "100%"}
                                              %tbody
                                                %tr
                                                  %td.kmTextContent{:style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;color:#505050;font-family:Helvetica, Arial;font-size:14px;line-height:150%;text-align:left;padding-top:9px;padding-bottom:9px;padding-left:18px;padding-right:18px;", :valign => "top"}
                                                    %h1{:style => "color:#222;display:block;font-family:Helvetica, Arial;font-size:26px;font-style:normal;font-weight:bold;line-height:110%;letter-spacing:normal;margin:0;margin-bottom:9px;text-align:left"} Leave Application
                                                    %p{:style => "margin:0;padding-bottom:1em"}
                                                      Hello #{@receiver}
                                                      %br/
                                                    %p
                                                      #{@user.public_profile.name} has applied for leave from #{@leave_application.start_at.to_s} to #{@leave_application.end_at.to_s}.
                                                      %br/
                                                      For reason #{@leave_application.reason}.
                                                      %br/
                                                      Days : #{@leave_application.number_of_days}
                                                      %br/
                                                      Remaining leaves: #{User.find(@leave_application.user_id).employee_detail.available_leaves}
                                                      %br
                                                      = link_to "Approve", process_leave_url(id: @leave_application.id, leave_action: 'approve'), class: 'btn btn-success'
                                                      |
                                                      = link_to "Reject", process_leave_url(id: @leave_application.id, leave_action: 'reject'), class: 'btn btn-danger'
                                                      |
                                                      = link_to "View Details", view_leaves_url
                                                    %p{:style => "margin:0;padding-bottom:0"}
                                                      Regards,
                                                      %br/
                                                      Josh Software
                        %tr
                          %td{:align => "center", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :valign => "top"}
                            %table.templateRow{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :width => "100%"}
                              %tbody
                                %tr
                                  %td.rowContainer.kmFloatLeft.firstColumn{:style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :valign => "top", :width => "50%"}
                                    %table.kmTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :width => "100%"}
                                      %tbody.kmTextBlockOuter
                                        %tr
                                          %td.kmTextBlockInner{:style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;", :valign => "top"}
                                            %table.kmTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :width => "100%"}
                                              %tbody
                                                %tr
                                                  %td.kmTextContent{:style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;color:#505050;font-family:Helvetica, Arial;font-size:14px;line-height:150%;text-align:left;padding-top:9px;padding-bottom:9px;padding-left:18px;padding-right:18px;", :valign => "top"}
                                                    %p{:style => "margin:0;padding-bottom:0"}
                                                      %span{:style => "font-size:9px;"}
                                                        %span{:style => "color: rgb(169, 169, 169);"} Copyright © 2007 - 2014 Josh Software Pvt. Ltd.
                                                      %span{:style => "font-size:9px;"}
                                                        %span{:style => "color: rgb(169, 169, 169);"}
                                                          %br/
                                                          Email: shekharindian099@gmail.com
                        %tr
                          %td{:align => "center", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :valign => "top"}
                            %table.templateRow{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :width => "100%"}
                              %tbody
                                %tr
                                  %td.rowContainer.kmFloatLeft.firstColumn{:style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :valign => "top", :width => "67%"}
                                  %td.rowContainer.kmFloatLeft.lastColumn{:style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :valign => "top", :width => "33%"}
                        %tr
                          %td{:align => "center", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :valign => "top"}
                            %table.templateRow{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :width => "100%"}
                              %tbody
                                %tr
                                  %td.rowContainer.kmFloatLeft.firstColumn{:style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :valign => "top", :width => "50%"}
                                  %td.rowContainer.kmFloatLeft{:style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :valign => "top", :width => "25%"}
                                  %td.rowContainer.kmFloatLeft.lastColumn{:style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :valign => "top", :width => "25%"}
                        %tr
                          %td{:align => "center", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :valign => "top"}
                            %table.templateRow{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :width => "100%"}
                              %tbody
                                %tr
                                  %td.rowContainer.kmFloatLeft{:style => "border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0", :valign => "top"}


