-# unless @projects.blank?
  .active-projects
    %table.table
      =# render partial: 'users/project', collection: @projects

  =# render partial: 'bonusly_updates', object: @bonusly_updates
.bonusly-updates.blog
  - @blog.each do |blog|
    %br
    %br
    .project-name
      = link_to blog.title, blog.url
      %br
      = blog.published
      = "- #{blog.author}"
      %br
    = raw blog.summary
/%script{charset: "UTF-8", language: "JavaScript", src: "http://feed2js.org//feed2js.php?src=http%3A%2F%2Fblog.joshsoftware.com%2Ffeed&chan=y&num=5&au=y&date=y&tz=+5.30&targ=y&utf=y&html=p", type: "text/javascript"}
